
@font-face{
    font-family: companyFont;
    src: url(./fonts/BalonkuRegular-la1w.otf);
}

@font-face{
    font-family: cookieMonster;
    src: url(./fonts/Cookiemonster-gv11.ttf);
}

html{
    --left-side-color: brown;
    --right-side-color: rgb(247, 247, 247);
    background-color: rgb(49, 39, 39);
    --left-margin: 3vw;
    --form-color: rgb(255, 255, 255);
    --form-color-shadow: rgb(230, 230, 230);

}
body{
    margin: 0;
}

.pageContainer{
    display: flex;
    min-height: auto;
    justify-content: center;
}

.pageLeft{
    background-image: url("./background-image.jpg");
    background-position: -350px 0px;
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
}

.pageRight{
    background-color: var(--right-side-color);
}

html, .pageLeft, .pageRight{
    min-height: 100vh;
}

.pageLeft{
    width: clamp(400px, 400px, 25vw);
}

.pageRight{
    width: clamp(695px, 695px, 40vw);
}

/* label,input{
    display: flex;
    flex-direction: column;
} */

#inputContainer{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    padding-bottom: 2vh;
    border-bottom: 2px;
    background-color: var(--form-color);
    padding-left: var(--left-margin);
    box-shadow: 0px 6px 3px var(--form-color-shadow);
    padding-top: 2vh;
}

form{
    /* margin-left: var(--left-margin); */
    margin-top: 40px;
    margin-bottom: 40px;
}

.rightText{
    width: 30vw;
    font-size: 2rem;
    margin-left: var(--left-margin);
    min-width: 460px;
    font-family: cookieMonster;
}

.divForm{
    display: flex;
    gap: 3vw;
}

.inputWrapper{
    margin-top: 3vh;
}
#firstInputWrapper{
    margin-top: 1vh;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
}

input{
    width: 15vw;
}

.buttonWrapper{
    margin-left: var(--left-margin);
    margin-top: 6vh;
}

div button[type="submit"]{
    background-color: rgb(45, 48, 45);
    font-size: 2rem;
    border-radius: 4px;
    color: azure;
    box-shadow: 0px 1px 2px rgb(50, 53, 50);
    margin-bottom: 2vh;
    text-align: center;
}
div button[type="submit"]:hover{
    cursor: pointer;
}

div button[type="button"]{
color: green;
border: none;
background: none;
font-size: 1rem;
}

#firstParagraph{
margin-top: 100px;
}

h3{
    margin: 0px;
}

div button[type="button"]:hover{
    cursor:pointer;
}


.logoContainer{
    font-family: companyFont;
    color: white;
    text-align: center;
    font-size: 3rem;

}

.textBox{
    padding-top: 300px;
}

.overlay{
    background: linear-gradient(0deg, #00000088 30%, #ffffff44 100%);
    height: 100vh;
    width: clamp(400px, 400px, 25vw);
}
